<!DOCTYPE html>
<html>
<head>
    <title>Select Bank</title>
</head>
<body>

<h1>Select Your Bank</h1>

<form action="/customer-details" method="POST">

    <label>Select Bank:</label>
    <br><br>

    <select name="bank" required>

        <option value="">Choose Bank</option>

        <option>National Bank</option>
        <option>FDH Bank</option>
        <option>NBS Bank</option>
        <option>Standard Bank</option>
        <option>CDH Bank</option>
        <option>Ecobank</option>

    </select>

    <br><br>

    <button type="submit">
        Continue
    </button>

</form>

</body>
</html>